<!DOCTYPE html>
<html>
    {% load static %}
    {% load leaflet_tags %}
    
    <head>
        {% leaflet_js %}
        {% leaflet_css %}
       
        <title>Our Home</title>

        <style type="text/css">
            #gis{
                width: 80%; 
                height: 550px;
                }
        </style>
        <script type="text/javascript" src="{% static 'dist/leaflet.ajax.js' %}"></script>

    </head>

    <body>
    <p>We are heroes!</p>
        <br>
        <script>
            function our_layers(map, options){
                let dataset = new L.GeoJSON.AJAX("{% url 'countiesdata' %}",{
                });
                dataset.addTo(map);
            }
        </script>

        {% leaflet_map 'gis' callback="window.our_layers" %}
    </body>

</html>